:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1976d2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toolbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    height: 60px;
  }
  
  .toolbar a img {
    margin: 0;
  }
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .encounter-section {
    width: 50%;
  }
  
  .user-section {
    width: 40%;
  }
  
  svg.material-icons {
    height: 24px;
    width: auto;
  }
  
  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
  }
  
  .card {
    all: unset;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fafafadd;
    height: 40px;
    width: 200px;
    margin: 0 8px 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  
  .pokemon-card {
    all: unset;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fafafadd;
    height: 180px;
    width: 100%;
    margin: 0 10px 10px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    padding: 10px;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
  }
  
  .card-container .card:not(.highlight-card):not(.disabled-item),
  .card-container .pokemon-card {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):not(.disabled-item):hover,
  .card-container .pokemon-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
  
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }
  
  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }
  
  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }
  
  .user-card {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: #1976d2;
  
    transition: all 0.2s ease-in-out;
    margin-bottom: 16px;
  }
  
  .user-card::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: #11569b;
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 44%;
    text-indent: 4px;
  }
  
  .user-card pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .results-card {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    margin-bottom: 16px;
  }
  
  .results-card::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: white;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 44%;
    text-indent: 4px;
  }
  
  .results-card p {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
    text-align: center;
  }
  
  .caught {
    color: greenyellow !important;
  }
  
  .not-caught {
    color: red !important;
  }
  
  .result-pics-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fafafadd;
    width: 100%;
    margin: 8px 0px 16px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    padding: 10px;
  }
  
  .result-pic {
    text-align: center;
    padding: 1rem;
    position: relative;
  }
  
  .result-pics-container .pic-img {
    width: 100px;
    height: 100px;
  }
  
  .result-pics-container .item-img {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
  }
  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    color: #125699;
  }
  
  .disabled-item {
    opacity: 0.5;
  }
  
  .terminal {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    margin-bottom: 16px;
  }
  
  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: white;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 44%;
    text-indent: 4px;
  }
  
  .terminal p {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
    text-align: center;
  }
  
  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }
  
  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  footer {
    margin-top: 8px;
    align-items: center;
    text-align: center;
    line-height: 20px;
  }
  
  footer a {
    display: flex;
    align-items: center;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 60px;
    }
  
    .pokemon-card {
      margin: 0px;
      height: 120px;
    }
  
    .encounter-section,
    .user-section,
    .card-container {
      width: 100%;
    }
  
    .result-pics-container .pic-img {
      width: 80px;
      height: 80px;
    }
  
    .mobile-margin {
      margin-top: 0px;
    }
  
    .toolbar a {
      font-size: 16px;
      width: 60%;
    }
  
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }
  
    .card-container {
      justify-content: space-between;
      gap: 10px;
    }
  
    .card-container button.card.card-small {
      width: 38%;
      font-size: 12px;
    }
  
    .full-card {
      width: 100% !important;
    }
  
    .user-info {
      display: none;
    }
  
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  
    .card.highlight-card span {
      margin-left: 72px;
    }
  
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }