<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a (click)="playAgain()" href="#">
    <img src="./assets/items/ball5_friend.png" alt="icon" style="height: 80%; margin-right: 10px;">
    <span>Poké Buds</span>
  </a>
</div>

<div class="content" role="main" *ngIf="!endGame">

  <div class="encounter-section">
    <!-- Resources -->
    <h2 class="text-center">Encounter</h2>
    <p class="text-center">Here is what you found</p>

    <div class="card-container">
      <button class="pokemon-card">
        <app-pokemon [currentPokemonNumber]="randomPokemonNumber" (currentPokemonName)="pokemonList($event)">
        </app-pokemon>
      </button>
    </div>

    <!-- Next Steps -->
    <h2 class="text-center">Actions</h2>
    <p class="text-center">What are you going to do?</p>

    <input type="hidden" #selection>

    <div class="" style="display: flex; flex-direction: column; align-items: center">
      <div class="card-container">
        <button class="card card-small" (click)="selection.value = 'pokeball'; throwBall(1)" tabindex="0"
          [disabled]="pbCounter == 0" [ngClass]="{'disabled-item': pbCounter == 0}">
          <img src="./assets/items/ball1_poke.png" alt="icon" style="height: 120%; margin-right: 20px;">
          <span>{{ items[0].itemName }} ({{ pbCounter }}x)</span>
        </button>

        <button class="card card-small" (click)="selection.value = 'greatball'; throwBall(2)" tabindex="0"
          [disabled]="gbCounter == 0" [ngClass]="{'disabled-item': gbCounter == 0}">
          <img src="./assets/items/ball2_great.png" alt="icon" style="height: 120%; margin-right: 20px;">
          <span>{{ items[1].itemName }} ({{ gbCounter }}x)</span>
        </button>
      </div>

      <div class="card-container">
        <button class="card card-small" (click)="selection.value = 'ultraball'; throwBall(3)" tabindex="0"
          [disabled]="ubCounter == 0" [ngClass]="{'disabled-item': ubCounter == 0}">
          <img src="./assets/items/ball3_ultra.png" alt="icon" style="height: 120%; margin-right: 20px;">
          <span>{{ items[2].itemName }} ({{ ubCounter }}x)</span>
        </button>

        <button class="card card-small" (click)="selection.value = 'masterball'; throwBall(4)" tabindex="0"
          [disabled]="mbCounter == 0" [ngClass]="{'disabled-item': mbCounter == 0}">
          <img src="./assets/items/ball4_master.png" alt="icon" style="height: 120%; margin-right: 20px;">
          <span>{{ items[3].itemName }} ({{ mbCounter }}x)</span>
        </button>
      </div>

      <div class="card-container">
        <button class="card card-small full-card" (click)="selection.value = 'run'; useRun()" tabindex="0"
          [disabled]="runCounter == 0" [ngClass]="{'disabled-item': runCounter == 0}">
          <img src="./assets/items/run.png" alt="icon" style="height: 180%; margin-right: 10px;">
          <span>{{ items[4].itemName }} ({{ runCounter }}x)</span>
        </button>
      </div>
    </div>
  </div>

  <div class="user-section">
    <!-- User Card -->
    <div class="user-info">
      <h2 class="text-center">Your Information</h2>
      <div class="user-card">
        <pre>
          <p>User: X</p>
          <p>Points: Y</p>
        </pre>
      </div>
    </div>

    <!-- Log -->
    <h2 class="text-center">Your Actions</h2>
    <div class="terminal" [ngSwitch]="selection.value">
      <p *ngSwitchDefault>(Your action)</p>
      <p *ngSwitchCase="'pokeball'">
        You used {{ items[0].itemName }}.<br>The Pokémon {{ catchResult ? "was caught!" : "broke free!" }}
      </p>
      <p *ngSwitchCase="'greatball'">
        You used {{ items[1].itemName }}.<br>The Pokémon {{ catchResult ? "was caught!" : "broke free!" }}
      </p>
      <p *ngSwitchCase="'ultraball'">
        You used {{ items[2].itemName }}.<br>The Pokémon {{ catchResult ? "was caught!" : "broke free!" }}
      </p>
      <p *ngSwitchCase="'masterball'">
        You used {{ items[3].itemName }}.<br>The Pokémon {{ catchResult ? "was caught!" : "broke free!" }}
      </p>
      <p *ngSwitchCase="'run'">You chose to {{ items[4].itemName }}</p>
    </div>

    <!-- Footer -->
    <footer>
      Poké Buds - Yuri Barcellos Galli ©
    </footer>
  </div>
</div>

<div class="content" role="main" *ngIf="endGame">
  <div class="encounter-section">
    <h2 class="text-center">Encounters</h2>
    <p class="text-center">Here is what you accomplished</p>

    <div class="result-pics-container">
      <div class="result-pic" *ngFor="let result of results; let i = index">
        <img class="pic-img" src="assets/pokemons/{{result.pokemon.pic}}" alt="{{ result.pokemon.name }}">
        <img class="item-img" src="{{ items[result.itemUsed - 1].fileLocation }}" alt="{{items[result.itemUsed]}}">
      </div>
    </div>
  </div>

  <div class="user-section">
    <!-- User Card -->
    <h2 class="text-center">Your Game Results</h2>
    <p class="text-center">Here is what you accomplished</p>

    <div class="results-card">
      <p *ngFor="let result of results; let i = index"
        [ngClass]="{'caught': result.caught, 'not-caught': !result.caught}">
        {{ i + 1 }}. {{ result.pokemon.name }} {{ result.caught ? "caught" : "not caught" }}
        ({{ items[result.itemUsed - 1].itemName }})
      </p>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
      <div class="container text-center">
        Poké Buds
      </div>
    </footer>    
  </div>
</div>

<div class="content mobile-margin" role="main" *ngIf="endGame">
  <div class="card-container">
    <button class="card card-small full-card" *ngIf="endGame" (click)="playAgain()">
      <img src="./assets/items/ball5_friend.png" alt="icon" style="height: 180%; margin-right: 10px;">
      <span><b>Play Again</b></span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>
